include item.pug
.list-crypto.w-with-padding
  +promoItem('btn btn-complete fw-600', "Active", true)
  +promoItem('btn btn-error fw-600', "Deactive", true)
  +promoItem('btn btn-outline-secondary fw-600', "Expired", true)
  +promoItem('btn btn-waiting fw-600', "Inactive", true)
  +promoItem('btn btn-complete fw-600', "Active", true)

  