include item.pug
.list-crypto.w-with-padding
  +promoItem('btn btn-complete fw-600', "Active")
  +promoItem('btn btn-error fw-600', "Deactive")
  +promoItem('btn btn-outline-secondary fw-600', "Expired")
  +promoItem('btn btn-waiting fw-600', "Inactive")
  +promoItem('btn btn-complete fw-600', "Active")

  