include item.pug 
.list-crypto.w-with-padding
  +item(2, 'Đắk Nông', '-', "(Việt Nam")
  +item(2, 'HCM', '-', "(Việt Nam")
  +item(2, 'Hà Nội', '-', "(Việt Nam")
  +item(2, 'Hải Phòng', '-', "(Việt Nam")
  +item(2, 'Quảng Ngãi', '-', "(Việt Nam")
