include item.pug 
.list-crypto.w-with-padding
  +item(3, 'Quận 1', 'SG', "Sài Gòn")
  +item(3, 'Quận 2', 'SG', "Sài Gòn")
  +item(3, 'Quận 3', 'SG', "Sài Gòn")
  +item(3, 'Quận 5', 'SG', "Sài Gòn")
  +item(3, 'Quận 6', 'SG', "Sài Gòn")
