include item.pug 
.list-crypto.w-with-padding
  +item(1, 'Viet Nam', 'VN', "(+84)")
  +item(1, 'China', 'CN', "(+8)")
  +item(1, 'Philippines', 'PL', "(+14)")
  +item(1, 'Thailand', 'TL', "(+24)")
  +item(1, 'Japan', 'JP', "(+34)")
  +item(1, 'Korea', 'KO', "(+44)")
  +item(1, 'American', 'UK', "(+1)")
  +item(1, 'Thailand', 'TL', "(+24)")
  +item(1, 'Japan', 'JP', "(+34)")
  +item(1, 'Korea', 'KO', "(+44)")
  +item(1, 'American', 'UK', "(+1)")
  +item(1, 'Thailand', 'TL', "(+24)")
  +item(1, 'Japan', 'JP', "(+34)")
  +item(1, 'Korea', 'KO', "(+44)")
  +item(1, 'American', 'UK', "(+1)")
  