include ../../form/form.pug
mixin modalSearchLocal(titleSearch, type)
  .modal.fade#modal-search(tabindex="-1", aria-labelledby="exampleModalLabel", aria-modal="true", role="dialog")
    .modal-dialog.modal-fullscreen
      .modal-content.modal-search
        .modal-search-header.d-flex.justify-content-between.align-items-center
          img(src="assets/img/back.png", data-bs-dismiss="modal", aria-label="Close")
          .center=titleSearch
          .right Xóa bộ lọc
        .modal-body
          form
            if type == 3
              .mb-3
                +select('Tên quận huyện', false)
              .mb-3
                +select('Mã quận huyện', false)
              .mb-3
                +select('Tỉnh thành phố', false)
            if type == 2
              .mb-3
                +select('Tên Tỉnh/Thành phố', false)
              .mb-3
                +select('Mã Tỉnh/ Thành phố', false)
            .mb-3
              +select('Tên quốc gia', false)
            if type == 1 
              .mb-3
                +select('Mã quốc gia', false)
              .mb-3
                +select('Mã vùng', false)
            .mb-3
              +select('Trạng thái', false)

          .fixed-bottom.bg-white.shadow-of-button-fixed.w-with-padding.padding-10-0
            button.btn.btn-in.w-100(type="submit")
              img(src="assets/img/search-in-button.png")
              span Tìm kiếm