include ../../form/form.pug

.card-crypto.mb-3.bg-gray.border.p-3.bd-5px
  .d-flex.justify-content-between.align-items-center.mb-4
    .cryp-head-left.d-flex.justify-content-start.align-items-center
      img.padding-r-10.img-crypto(src="assets/img/crypto_1.png")
      .cryp-title.d-flex.flex-column
        span.fw-600.color-bl Bitcoin
        span.fw-600.text-main BTC
    .cryp-head-right.d-flex.align-items-center
      +switchButton()
      a(href="/crypto-edit.html") 
        img(src="assets/img/edit-icon.png")
  a.d-block.text-decoration-none(href="#")
    .d-flex.justify-content-between.align-items-center.color-gray.mb-2
      span.fw-500 Tỷ giá (USD):
      span.text-black.fw-600 $1,01
    .d-flex.justify-content-between.align-items-center.color-gray.mb-2
      span.fw-500 Người cập  nhật:
      span.text-black.fw-600 Huy Khang
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500 Ngày cập nhật:
      span.text-black.fw-600 2022-07-27 15:52:34
    .d-block.text-end.text-decoration-none
      span.font-16.fw-600 Xem chi tiết
      img(src="assets/img/detail.png")


