mixin notifyDetail(itemStatus)
  .list-crypto.w-with-padding.mt-3
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Mã thông báo
      span.w-60.text-black.fw-600.text-end 20052022-N-KGF1DF
    
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Loại thông báo
      span.w-60.text-black.fw-600.text-end Khuyến mãi
    
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Danh mục
      span.w-60.text-black.fw-600.text-end Hotel
    
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Trạng thái
      if(itemStatus === 'success')
        span.w-60.fw-600.notify-color-success.text-end Hoàn thành
      if(itemStatus === 'het-han')
        span.w-60.fw-600.notify-color-gray.text-end Quá hạn
      if(itemStatus === 'tu-choi-duyet')
        span.w-60.fw-600.notify-color-danger.text-end Từ chối duyệt
      if(itemStatus === 'dang-goi')
        span.w-60.fw-600.notify-color-orange.text-end Đang gởi
      if(itemStatus === 'cho-goi')
        span.w-60.fw-600.notify-color-yellow.text-end Đã duyệt, Chờ gửi
      if(itemStatus === 'cho-phe-duyet')
        span.w-60.fw-600.notify-color-orange.text-end Chờ phê duyệt
      if(itemStatus === 'notify-draft')
        span.w-60.fw-600.notify-color-gray.text-end Nháp
    
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Quốc gia
      span.w-60.fw-600.color-bl.text-end Việt Nam
    
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Thành phố
      .w-60.fw-600.color-bl.text-end.font-12
        span.item-city.margin-r-5 Hochiminh
        span.item-city.margin-r-5 Hanoi
        span.item-city(data-bs-toggle="modal" data-bs-target="#notifyShowAllCity") +10 
          img(src="assets/img/icon-to-right.png", alt="")
    
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Đối tượng
      span.w-60.fw-600.color-bl.text-end Cá nhân
    
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Chọn đối tượng tương ứng
      .w-60.fw-600.color-bl.text-end.font-12
        span.item-city.margin-r-5 Hochiminh
        span.item-city.margin-r-5 Hanoi
        span.item-city(data-bs-toggle="modal" data-bs-target="#notifyShowAllUser") +10 
          img(src="assets/img/icon-to-right.png", alt="")
    
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Thiết lập ngôn ngữ gửi Notify
      span.w-60.fw-600.color-bl.text-end Việt Nam

    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Ngày gửi
      span.w-60.fw-600.color-bl.text-end 08/03/2022 - 02:00 AM
    
    .d-flex.justify-content-between.align-items-start.color-gray.mb-3
      span.fw-500.w-40 Link URL
      span.w-60.fw-600.color-bl.text-end.text-break  https://admin.heyotrip.com/hotel/notify
    
    .d-flex.justify-content-between.align-items-center.color-gray.mb-3
      span.fw-500.w-40 Tiêu đề
      span.w-60.fw-600.color-bl.text-end Khuyến mãi 30/4 - 1/5
    
    .d-flex.justify-content-between.align-items-start.color-gray.mb-3
      span.fw-500.w-40 Nội dung khuyến mãi
      span.w-60.fw-600.color-bl.text-end Lorem ipsum dolor sit amet, consectetur lit.

    .mb-2 
      span.fw-600.font-12.color-bl Hình ảnh cover 
    if(itemStatus === 'success' || itemStatus === 'tu-choi-duyet' )
      .mb-3 
        img.rounded-2(src="assets/img/promo-detail.png", alt="alt")
    else
      .mb-sub-button 
        img.rounded-2(src="assets/img/promo-detail.png", alt="alt")

    if(itemStatus === 'tu-choi-duyet')
      .mb-2 
        span.fw-600.font-12.text-black Nội dung từ chối duyệt 
      .mb-sub-button.notify-btn.notify-danger.p-2.rounded-1
        span.color-bl Lorem ipsum dolor sit amet, consectetur lit.

  if(itemStatus !== 'success')
    if(itemStatus !== 'notify-draft')
      .fixed-bottom.bg-white.shadow-of-button-fixed.w-with-padding.padding-10-0
        if(itemStatus === 'tu-choi-duyet' || itemStatus === 'qua-han') 
          a(href="#")
            button.btn.w-100.btn-blue.btn-h-48 Chỉnh sửa
        else 
          button.btn.w-100.btn-blue.btn-h-48(data-bs-toggle="modal" data-bs-target="#notifyPreview") Xem Trước
    else 
      .fixed-bottom.bg-white.shadow-of-button-fixed.w-with-padding.padding-10-0
        .row
          .col-4
            a(href="#")
              button.btn.w-100.btn-blue.btn-h-48 Chỉnh sửa
          .col-4
            button.btn.w-100.btn-outline-success.btn-h-48 Gửi duyệt
          .col-4
            button.btn.w-100.btn-outline-primary.btn-h-48(data-bs-toggle="modal" data-bs-target="#notifyPreview") Xem trước
            