include item.pug
.list-crypto.w-with-padding
  +notifyItem(1, false)
  +notifyItem(2, false)
  +notifyItem(3, false)
  +notifyItem(4, false)
  +notifyItem(5, false)
  +notifyItem(1, false)
  +notifyItem(2, false)
  +notifyItem(5, false)

