include item.pug
.list-crypto.w-with-padding
  +notifyItem(1, true)
  +notifyItem(2, true)
  +notifyItem(3, true)
  +notifyItem(4, true)
  +notifyItem(5, true)
  +notifyItem(1, true)
  +notifyItem(2, true)
  +notifyItem(5, true)

