include ../header-detail.pug

.modal.fade#notifyPreview(tabindex="-1", aria-labelledby="exampleModalLabel", aria-modal="true", role="dialog")
  .modal-dialog.modal-fullscreen
    .modal-content
      +headerDetail('Xem trước bài viết', '')
      img.w-100(src="assets/img/promo-detail.png", alt="")
      .modal-body.color-bl
        .w-with-padding
          .mb-2.text-center
            span.fw-600.font-16 Lễ hội răng rằm, cùng nhau săn vé rẻ
          .mb-2 
            span 20/05/2022 
          .mb-2
            p Chao ôi! Chưa đến tối mà ở đâu cũng rộn lên tiếng trẻ em cười nói, gọi nhau í ới cùng với tiếng múa lân dồn dập. Vì hôm nay chính là Tết trung thu. Tại sân làng ở chỗ em ở, các cô chú đã dựng sân khấu từ rất sớm. Chương trình bắt đầu từ 18h tối. Các em hát múa, vỗ tay trông vui nhộn làm sao! Nổi bật nhất là lúc tất cả chúng em cùng hát vang: “Tình bằng có cái trống cơm…”
            p Tối Trung Thu, các em nhỏ sẽ cùng nhau rước đèn, rồi về phá cỗ. Người lớn thì thảnh thơi ngồi ăn chút bánh trung thu, uống chút nước chè xanh rồi chuyện trò với nhau những mẩu chuyện đời thường. Bầu không khí bình dị, hạnh phúc ấy chính là ý nghĩa lớn lao của Tết Trung Thu. Đó chính là sự đoàn viên, tề tựu của mọi người trong gia đình.
          .mb-2
            span Thời gian chương trình:
          .mb-2
            span Từ 20/05/2022 đến 30/05/2022
          .mb-2
            span Điều kiện áp dụng:
              ul 
                li Điều kiện 1
                li Điều kiện 2
                li Điều kiện 3
          
            
          