.modal.fade#modalConform(tabindex="-1", aria-labelledby="exampleModalLabel", aria-modal="true", role="dialog")
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-body
        img.close-modal-v2(src="assets/img/cancle.png", type="button", data-bs-dismiss="modal", aria-label="Close")
        .w-with-padding.mt-3
          .mb-3.text-center
            span.color-bl.fw-600 Bạn có chắc muốn duyệt bài viết này?  
          button.btn.btn-blue.w-100 Xác nhận