 
.fixed-bottom.bg-gradient.mb-4.text-end.padding-r-15
  span.add-new(data-bs-toggle="modal", data-bs-target="#modalTopicAdd", aria-controls="modalBottom")
    img(src="assets/img/add-img-white.png", alt="add button")