include item.pug

.list-crypto.w-with-padding
  +hotelItem('Khách sạn Green Hà Nội', true)
  +hotelItem('Khách sạn Green HCM', false)
  +hotelItem('Khách sạn Green Vũng Tàu', true)
  +hotelItem('Khách sạn Green Đà Nẵng', false)
  +hotelItem('Khách sạn Green Mỹ Tho', true)
