include includes/header-detail.pug
include includes/style.pug
include form/form.pug

doctype html
html(lang="en")

  +docType("Thêm mới tỉnh thành phố | HYO")

  body
    section.main
      +headerDetail('Thông tin tỉnh/ thành phố')

      .w-with-padding.mt-3.color-bl
        form(action="") 
          .mb-3
            +text('Tên tỉnh/ thành phố (VI)', true, '')

          .mb-3
            +text('Tên tỉnh/ thành phố (EN)', true, '')
          
          .mb-3
           +text('Mã tỉnh/ thành phố', true, '')

          .mb-3
            +select('Quốc gia', true)
      
          +buttonEnd('Lưu')

    include includes/js.pug
