include includes/header-detail.pug
include includes/style.pug
include form/form.pug

doctype html
html(lang="en")

  +docType("City Add Page")

  body
    section.main
      +headerDetail('Tỉnh/ Thành phố')

      .w-with-padding.mt-3.color-bl
        form(action="") 
          .mb-3
            +text('Tên tỉnh/thành phố (VI)', true, '')

          .mb-3
            +text('Tên tỉnh/thành phố (EN)', true, '')
          
          .mb-3
           +text('Mã tỉnh/thành phố', true, '')

          .mb-3
            +select('Quốc gia', true)
      
          +buttonEnd('Lưu')
  

    include includes/js.pug
