include includes/header.pug
include includes/style.pug
include includes/country/modal-search.pug

doctype html
html(lang="en")
  
  +docType("Country list | HYO")

  body
    section.main
      +headers('Quốc gia')
      include includes/country/list.pug
      include includes/add.pug

    +modalSearchLocal('Tra cứu quốc gia', 1)
    include includes/crypto/modal-confirm-active.pug
    include includes/js.pug

