include includes/header.pug
include includes/style.pug
include includes/country/modal-search.pug

doctype html
html(lang="en")
 
  +docType("Kết quả tìm kiếm | HYO")
 
  body
    section.main
      +headers("Quốc gia", "211 Quốc gia")
      include includes/search-no-result.pug
      include includes/add.pug

    +modalSearchLocal('Tra cứu quốc gia', 1)
    include includes/promo/modal-search.pug
    include includes/js.pug

