include includes/header-detail.pug
include includes/style.pug
include form/form.pug

doctype html
html(lang="en")

  +docType("Thêm mới quốc gia | HYO")

  body
    section.main
      +headerDetail('Thông tin quốc gia')

      .w-with-padding.mt-3.color-bl
        form(action="") 
          .mb-3
            +text('Tên quốc gia (VI)', true, '')

          .mb-3
            +text('Tên quốc gia (EN)', true, '')
          
          .mb-3
           +text('Mã quốc gia', true, '')

          .mb-3
            +text('Mã vùng', true, '')
      
          +buttonEnd('Lưu')
  

    include includes/js.pug
