include includes/header.pug
include includes/style.pug

doctype html
html(lang="en")
  
  +docType("Crypto list | HYO")

  body
    section.main
      +headers('Lorem ipsum dolor sit amet')
      include includes/crypto/list.pug

    include includes/crypto/modal-search.pug
    include includes/crypto/modal-confirm-active.pug
    include includes/js.pug

















