include includes/header.pug
include includes/style.pug

doctype html
html(lang="en")

  +docType("Crypto search page")

  body
    section.main
      +headers('Lorem ipsum dolor sit.')
      include includes/search-title.pug
      include includes/crypto/list.pug
    include includes/crypto/modal-confirm-active.pug
    include includes/js.pug















