include includes/header-detail.pug
include includes/style.pug
include form/form.pug

doctype html
html(lang="en")

  +docType("District Add Page")

  body
    section.main
      +headerDetail('Thông tin Quận huyện')

      .w-with-padding.mt-3.color-bl
        form(action="") 
          .mb-3
            +text('Tên quận huyện (VI)', true, '')

          .mb-3
            +text('Tên quận huyện (EN)', true, '')
          
          .mb-3
           +text('Mã quận huyện', true, '')
          
          .mb-3
            +select('Thành phố', true)

          .mb-3
            +select('Quốc gia', true)
      
          +buttonEnd('Lưu')
  

    include includes/js.pug
