include includes/header.pug
include includes/style.pug
include includes/country/modal-search.pug

doctype html
html(lang="en")
 
  +docType("Kết quả tìm kiếm | HYO")
 
  body
    section.main
      +headers("Quận/ Huyện", "713 Quận/ Huyện")
      include includes/search-no-result.pug
      include includes/add.pug

    +modalSearchLocal('Tra cứu quận/huyện', 3)
    include includes/js.pug

