include includes/header.pug
include includes/style.pug
include includes/country/modal-search.pug
include includes/count-result.pug

doctype html
html(lang="en")
  
  +docType("Kết quả tìm kiếm | HYO")

  body
    section.main
      +headers('Quận/ Huyện', '713 Quận/ Huyện')
      include includes/search-title.pug
      include includes/country/district-list.pug
      include includes/add.pug
    
    +modalSearchLocal('Tra cứu quận/ huyện', 3)
    include includes/crypto/modal-confirm-active.pug
    include includes/js.pug

