include includes/header.pug
include includes/style.pug

doctype html
html(lang="en")
  
  +docType("Tìm kiếm bài viết | HYO")

  body
    section.main
      +headers('Hướng dẫn và mẹo du lịch', '(37 chủ đề)')

      include includes/search-title.pug
      include includes/guide/list-guide.pug
      include includes/add.pug

    include includes/crypto/modal-confirm-active.pug
    include includes/guide/modal-search.pug
    include includes/js.pug

