include includes/header.pug
include includes/style.pug

doctype html
html(lang="en")
  
  +docType("Hướng dẫn và mẹo du lịch | HYO")

  body
    section.main
      +headers('Hướng dẫn và mẹo du lịch', '(11 bài viết)')
      include includes/guide/list.pug
      include includes/add.pug

    include includes/crypto/modal-confirm-active.pug
    include includes/guide/modal-search.pug
    include includes/js.pug

