include includes/header.pug
include includes/style.pug

doctype html
html(lang="en")
  
  +docType("Hotel promo code search list")

  body
    section.main
      +headers("Chương trình khuyến mãi", "")
      include includes/search-no-result.pug

    include includes/promo/modal-search.pug
    include includes/js.pug













