include includes/header.pug
include includes/style.pug

doctype html
html(lang="en")
  
  +docType("Tìm kiếm khuyến mãi | HYO")

  body
    section.main
      +headers("Chương trình khuyến mãi", "05 mã khuyến mãi")
      include includes/search-no-result.pug
      include includes/add.pug

    include includes/promo/modal-search.pug
    +promoSearch(false)
    include includes/js.pug













