doctype
html(lang='en')
  head
    meta(charset='utf-8')
    title How to title?
    link(rel="stylesheet", href="css/style.css")
  body
    h1 how to install 
    h2 how to install
    h6 what the fuck 
    .concat--html
      h2 this is first div
      .concat--content
        img(src="/assets/img/promo-detail-logo.png", alt="alt")
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus earum doloribus veniam dolor neque quas voluptas itaque dolorem. Illum modi quibusdam sint impedit quas fugiat facilis ipsam distinctio itaque omnis!









        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
