include includes/header.pug
include includes/style.pug

doctype html
html(lang="en")
  
  +docType("Danh sách bài viết thông báo | HYO")

  body
    section.main
      +headers('Danh sách bài viết thông báo', '')
      include includes/notify/list-admin.pug
      include includes/add.pug

    include includes/crypto/modal-confirm-active.pug
    include includes/notify/modal-search.pug
    include includes/notify/offcanvas-allow.pug
    include includes/notify/modal-conform.pug
    include includes/notify/modal-reject.pug
    include includes/js.pug

