include includes/header.pug
include includes/style.pug

doctype html
html(lang="en")
  
  +docType("Tìm kiếm bài viết | HYO")

  body
    section.main
      +headers('Quốc gia nổi tiếng', '(11 bài viết)')
      include includes/search-no-result.pug
      include includes/add.pug

    include includes/popular/search.pug
    +modalInOut(true)
    include includes/js.pug

