include includes/header.pug
include includes/style.pug
include includes/topic/modal-search.pug

doctype html
html(lang="en")
  
  +docType("Topic none list | HYO")

  body
    section.main
      +headers("Danh sách chủ đề", "")
      include includes/search-no-result.pug
      include includes/topic/add.pug
 
    +modalSearchLocal('Tìm kiếm ')
    include includes/topic/modal-edit.pug
    include includes/js.pug





