.order-status.w-with-padding
  ul.list
    li.item.active Tất cả (100)
    li.item Chờ xử lý (2)
    li.item Đã xác nhận (30)
    li.item Đã hủy (8)
    li.item Hoàn thành (60)
    li.item Nháp (60)
    li.item Đơn hàng chờ xử lý của bạn (60)