.orders.w-with-padding(style="height: calc(100vh - 300px)")
  .orders-header.d-flex.align-items-center.justify-content-between.g-1
    .orders-title.color-bl.
      Không có kết quả tìm kiếm
    .fw-600.text-main.
      Xóa bộ lọc
  .orders-group.d-flex.justify-content-center.flex-column.align-items-center.h-100
    .fw-normal.text-center
      img.text-center(src="assets/img/search-no-result.png", alt)
      span.d-block.color-bl.
        Không có dữ liệu với trường bạn cần tìm.
        